{% macro include_prop(propName, propValue) %}
    {% if propValue %}
        data-{{ propName }}="{{ propValue }}"
    {% endif %}
{% endmacro %}

<div class="shariff"
    {{ _self.include_prop('backend-url', __SELF__.property('backend-url')) }}
    {{ _self.include_prop('button-style', __SELF__.property('button-style')) }}
    {{ _self.include_prop('dialogs-media-url', __SELF__.property('dialogs-media-url')) }}
    {{ _self.include_prop('facebook-count-btn', __SELF__.property('facebook-count-btn')) }}
    {{ _self.include_prop('facebooklike-css', __SELF__.property('facebooklike-css')) }}
    {{ _self.include_prop('facebooklike-options', __SELF__.property('facebooklike-options')) }}
    {{ _self.include_prop('flattr-category', __SELF__.property('flattr-category')) }}
    {{ _self.include_prop('flattr-user', __SELF__.property('flattr-user')) }}
    {{ _self.include_prop('info-url', __SELF__.property('info-url')) }}
    {{ _self.include_prop('info-display', __SELF__.property('info-display')) }}
    {{ _self.include_prop('lang', __SELF__.property('lang')) }}
    {{ _self.include_prop('mail-body', __SELF__.property('mail-body')) }}
    {{ _self.include_prop('mail-subject', __SELF__.property('mail-subject')) }}
    {{ _self.include_prop('mail-url', __SELF__.property('mail-url')) }}
    {{ _self.include_prop('media-url', __SELF__.property('media-url')) }}
    {{ _self.include_prop('orientation', __SELF__.property('orientation')) }}
    {{ _self.include_prop('referrer-track', __SELF__.property('referrer-track')) }}
    {{ _self.include_prop('services', __SELF__.property('services')) }}
    {{ _self.include_prop('theme', __SELF__.property('theme')) }}
    {{ _self.include_prop('title', __SELF__.property('title')) }}
    {{ _self.include_prop('twitter-via', __SELF__.property('twitter-via')) }}
    {{ _self.include_prop('url', __SELF__.property('url')) }}
></div>
